<!DOCTYPE html>
<html>
  <head>
    <title>Blog app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-red-300">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <br />
      <div class="flex gap-16 justify-end mr-20 login">
        <% if user_signed_in? %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-warning  text-end', data: { turbo: false } %>
        <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: 'nav-link'%>
        <% end%>
      </div>
      <%= yield %>
  </body>
</html>
